<a href="https://colab.research.google.com/github/amritesh-21/amritesh18cse076/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment-1

---

#1

In [ ]:
num_list = [21, 11, 19, 3,11,5]
# FInd sum of the numbers
num_sum = sum(num_list)
#divide the sum with length of the list
mean = num_sum / len(num_list)
print(num_list)
print("Mean of the above list of numbers is: ",mean)

[21, 11, 19, 3, 11, 5]
Mean of the above list of numbers is:  11.666666666666666

In [ ]:
num_list = [21, 11, 19, 3,11,5]
# FInd sum of the numbers
num_sum = sum(num_list)
#divide the sum with length of the list
mean = num_sum / len(num_list)
print(num_list)
print("Mean of the above list of numbers is: " + str(round(mean,2)))

[21, 11, 19, 3, 11, 5]
Mean of the above list of numbers is: 11.67

In [ ]:
import collections
# list of elements to calculate mode
num_list = [21, 13, 19, 13,19,13]
# Print the list
print(num_list)
# calculate the frequency of each item
data = collections.Counter(num_list)
data_list = dict(data)
# Print the items with frequency
print(data_list)
# Find the highest frequency
max_value = max(list(data.values()))
mode_val = [num for num, freq in data_list.items() if freq == max_value]
if len(mode_val) == len(num_list):
   print("No mode in the list")
else:
   print("The Mode of the list is : " + ', '.join(map(str, mode_val)))

[21, 13, 19, 13, 19, 13]
{21: 1, 13: 3, 19: 2}
The Mode of the list is : 13

#2

In [1]:
def variance(data):
     # Number of observations
     n = len(data)
     # Mean of the data
     mean = sum(data) / n
     # Square deviations
     deviations = [(x - mean) ** 2 for x in data]
     # Variance
     variance = sum(deviations) / n
     return variance
variance([4, 8, 6, 5, 3, 2, 8, 9, 2, 5])

5.76

In [3]:
import math
def variance(data):
     n = len(data)
     mean = sum(data) / n
     deviations = [(x - mean) ** 2 for x in data]
     variance = sum(deviations) / n
     return variance
def stdev(data):
     var = variance(data)
     std_dev = math.sqrt(var)
     return std_dev

stdev([4, 8, 6, 5, 3, 2, 8, 9, 2, 5])

2.4

#3

In [10]:
#List 
L = [1, "a" , "string" , 1+2] 
print(L) 
L.append(6) 
print (L) 
L.pop() 
print(L) 
print(L[1])

#Tuple
tup = (1, "a", "string", 1+2) 
print(tup) 
print(tup[1]) 

#String
s = "Hello World"
for i in s : 
    print (i)

#Dictionary
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
print(dict1)

[1, 'a', 'string', 3]
[1, 'a', 'string', 3, 6]
[1, 'a', 'string', 3]
a
(1, 'a', 'string', 3)
a
H
e
l
l
o

W
o
r
l
d
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}