<a href="https://colab.research.google.com/github/amritesh-21/amritesh18cse076/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment-1

---

#1

In [ ]:
num_list = [21, 11, 19, 3,11,5]
# FInd sum of the numbers
num_sum = sum(num_list)
#divide the sum with length of the list
mean = num_sum / len(num_list)
print(num_list)
print("Mean of the above list of numbers is: ",mean)

[21, 11, 19, 3, 11, 5]
Mean of the above list of numbers is:  11.666666666666666

In [ ]:
num_list = [21, 11, 19, 3,11,5]
# FInd sum of the numbers
num_sum = sum(num_list)
#divide the sum with length of the list
mean = num_sum / len(num_list)
print(num_list)
print("Mean of the above list of numbers is: " + str(round(mean,2)))

[21, 11, 19, 3, 11, 5]
Mean of the above list of numbers is: 11.67

In [ ]:
import collections
# list of elements to calculate mode
num_list = [21, 13, 19, 13,19,13]
# Print the list
print(num_list)
# calculate the frequency of each item
data = collections.Counter(num_list)
data_list = dict(data)
# Print the items with frequency
print(data_list)
# Find the highest frequency
max_value = max(list(data.values()))
mode_val = [num for num, freq in data_list.items() if freq == max_value]
if len(mode_val) == len(num_list):
   print("No mode in the list")
else:
   print("The Mode of the list is : " + ', '.join(map(str, mode_val)))

[21, 13, 19, 13, 19, 13]
{21: 1, 13: 3, 19: 2}
The Mode of the list is : 13

#2

In [ ]:
def variance(data):
     # Number of observations
     n = len(data)
     # Mean of the data
     mean = sum(data) / n
     # Square deviations
     deviations = [(x - mean) ** 2 for x in data]
     # Variance
     variance = sum(deviations) / n
     return variance
variance([4, 8, 6, 5, 3, 2, 8, 9, 2, 5])

5.76

In [ ]:
import math
def variance(data):
     n = len(data)
     mean = sum(data) / n
     deviations = [(x - mean) ** 2 for x in data]
     variance = sum(deviations) / n
     return variance
def stdev(data):
     var = variance(data)
     std_dev = math.sqrt(var)
     return std_dev

stdev([4, 8, 6, 5, 3, 2, 8, 9, 2, 5])

2.4

#3

In [ ]:
#List 
L = [1, "a" , "string" , 1+2] 
print(L) 
L.append(6) 
print (L) 
L.pop() 
print(L) 
print(L[1])

#Tuple
tup = (1, "a", "string", 1+2) 
print(tup) 
print(tup[1]) 

#String
s = "Hello World"
for i in s : 
    print (i)

#Dictionary
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
print(dict1)

[1, 'a', 'string', 3]
[1, 'a', 'string', 3, 6]
[1, 'a', 'string', 3]
a
(1, 'a', 'string', 3)
a
H
e
l
l
o

W
o
r
l
d
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

#Assignment - 2

In [21]:
from google.colab import files
uploaded=files.upload()

Saving indian_food.csv to indian_food.csv

In [22]:
import io

In [23]:
df=pd.read_csv(io.BytesIO(uploaded["indian_food.csv"]))

In [24]:
df.head()

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East

[5 rows x 9 columns]

In [25]:
df.shape

(255, 9)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  255 non-null    object
 6   course          255 non-null    object
 7   state           255 non-null    object
 8   region          254 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [27]:
df.loc[:10,['name','state']]

              name          state
0       Balu shahi    West Bengal
1           Boondi      Rajasthan
2   Gajar ka halwa         Punjab
3           Ghevar      Rajasthan
4      Gulab jamun    West Bengal
5           Imarti    West Bengal
6           Jalebi  Uttar Pradesh
7       Kaju katli             -1
8         Kalakand    West Bengal
9            Kheer             -1
10           Laddu             -1

In [29]:
df[['name','state']].head(10)

             name          state
0      Balu shahi    West Bengal
1          Boondi      Rajasthan
2  Gajar ka halwa         Punjab
3          Ghevar      Rajasthan
4     Gulab jamun    West Bengal
5          Imarti    West Bengal
6          Jalebi  Uttar Pradesh
7      Kaju katli             -1
8        Kalakand    West Bengal
9           Kheer             -1

In [30]:
df.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            1
dtype: int64

In [31]:
df.isnull()

      name  ingredients   diet  ...  course  state  region
0    False        False  False  ...   False  False   False
1    False        False  False  ...   False  False   False
2    False        False  False  ...   False  False   False
3    False        False  False  ...   False  False   False
4    False        False  False  ...   False  False   False
..     ...          ...    ...  ...     ...    ...     ...
250  False        False  False  ...   False  False   False
251  False        False  False  ...   False  False   False
252  False        False  False  ...   False  False   False
253  False        False  False  ...   False  False   False
254  False        False  False  ...   False  False   False

[255 rows x 9 columns]

In [32]:
df.isnull().values.any()

True

In [33]:
df.dropna(inplace=True)

In [34]:
df.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            0
dtype: int64

In [35]:
df1=pd.read_csv(io.BytesIO(uploaded["indian_food.csv"]))

In [37]:
df1['prep_time'].mean()

31.105882352941176

In [38]:
import numpy as np

In [41]:
df1['prep_time'].replace(np.NaN,df1['prep_time'].mean()).head(10)

0    45
1    80
2    15
3    15
4    15
5    10
6    10
7    10
8    20
9    10
Name: prep_time, dtype: int64

In [42]:
np.array([1,2,3])

array([1, 2, 3])