<a href="https://colab.research.google.com/github/amritesh-21/amritesh18cse076/blob/main/Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving groceries.csv to groceries (1).csv

In [ ]:
import io

In [ ]:
df=pd.read_csv(io.BytesIO(uploaded["groceries (1).csv"]))

KeyError: ignored

In [ ]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)
df=ps.DataFrame(te_ary,columns=te.columns_)
df

      i1     i2     i3     i4     i5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [ ]:
from mlxtend.frequent_patterns import apriori
apriori(df,min_support=0.22)

     support   itemsets
0   0.666667        (0)
1   0.777778        (1)
2   0.666667        (2)
3   0.222222        (3)
4   0.222222        (4)
5   0.444444     (0, 1)
6   0.444444     (0, 2)
7   0.222222     (0, 4)
8   0.444444     (1, 2)
9   0.222222     (1, 3)
10  0.222222     (1, 4)
11  0.222222  (0, 1, 2)
12  0.222222  (0, 1, 4)

In [ ]:
apriori(df,min_support=0.22,use_colnames=True)

     support      itemsets
0   0.666667          (i1)
1   0.777778          (i2)
2   0.666667          (i3)
3   0.222222          (i4)
4   0.222222          (i5)
5   0.444444      (i1, i2)
6   0.444444      (i3, i1)
7   0.222222      (i5, i1)
8   0.444444      (i3, i2)
9   0.222222      (i4, i2)
10  0.222222      (i5, i2)
11  0.222222  (i3, i1, i2)
12  0.222222  (i5, i1, i2)

In [ ]:
frequent_itemsets=apriori(df,min_support=0.2,use_colnames=True)
frequent_itemsets['length']=frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support      itemsets  length
0   0.666667          (i1)       1
1   0.777778          (i2)       1
2   0.666667          (i3)       1
3   0.222222          (i4)       1
4   0.222222          (i5)       1
5   0.444444      (i1, i2)       2
6   0.444444      (i3, i1)       2
7   0.222222      (i5, i1)       2
8   0.444444      (i3, i2)       2
9   0.222222      (i4, i2)       2
10  0.222222      (i5, i2)       2
11  0.222222  (i3, i1, i2)       3
12  0.222222  (i5, i1, i2)       3

In [ ]:
frequent_itemsets[(frequent_itemsets['length']==2) & (frequent_itemsets['support']>=0.22)]

     support  itemsets  length
5   0.444444  (i1, i2)       2
6   0.444444  (i3, i1)       2
7   0.222222  (i5, i1)       2
8   0.444444  (i3, i2)       2
9   0.222222  (i4, i2)       2
10  0.222222  (i5, i2)       2

ASSOCIATION RULE MINING

In [ ]:
from mlxtend.frequent_patterns import association_rules

In [ ]:
rules=association_rules(frequent_itemsets)
rules

  antecedents consequents  antecedent support  ...      lift  leverage  conviction
0        (i5)        (i1)            0.222222  ...  1.500000  0.074074         inf
1        (i4)        (i2)            0.222222  ...  1.285714  0.049383         inf
2        (i5)        (i2)            0.222222  ...  1.285714  0.049383         inf
3    (i5, i1)        (i2)            0.222222  ...  1.285714  0.049383         inf
4    (i5, i2)        (i1)            0.222222  ...  1.500000  0.074074         inf
5        (i5)    (i1, i2)            0.222222  ...  2.250000  0.123457         inf

[6 rows x 9 columns]